body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    padding: 40px;
    text-align: center;
  }

  h1 {
    color: #3a8cc2;
    margin-bottom: 30px;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1000px;
    text-align:center;
    margin: auto;
  }
  .container > div {
    flex: 1 1 400px;
    max-width: 450px;
    margin: auto;
  }

  #upload,
  #showAllFiles,
  #showFilesLimit,
  #showFilesAddress {
    margin: 0px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    width: 600px;
    height: 180px;
    display: inline-block;
    text-align: center;
  }
  #upload {
    max-width: 1000px;
  }

  input[type="file"],
  input[type="text"],
  input[type="number"] {
    padding: 10px;
    width: 80%;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
  }

  button, input[type=file]::file-selector-button  {
    background-color: #3a8cc2;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: auto;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  input[type=file]::file-selector-button {
    padding: 5px 20px;
    margin-right: 20px;
  }

  button:hover {
    background-color: #3a8cc2;
  }

  #output {
    margin-top: 20px;
    font-weight: bold;
  }

  #fileList {
    margin-top: 30px;
    text-align: left;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    margin-bottom: 15px;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 10px;
  }

  a {
    color: #3a8cc2;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
  #loading {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3a8cc2; /* Blue */
    border-radius: 50%;
    width: 12px;
    height: 12px;
    
    margin-left: auto;
    margin-right: auto;
    animation: spin 2s linear infinite;
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }